{% extends "forms/field.html.twig" %}
{% set toastui_id = unique_id(6, {'prefix': 'tui_'}) %}
{% set configs = config.plugins['admin-addon-toast-ui-editor'] %}
{% block label %}
    {% if field.label %}
        {% set hint = field.help ? 'data-hint="' ~ field.help|tu|raw ~ '"': '' %}
        <div class="form-label form-field hint--bottom" {{ hint }}>{{ field.label|tu|raw }}</div>
    {% endif %}
{% endblock %}
{% block field %}
    <div class="form-field {{ field.classes|default('') }}">
        <div class="form-data">
            <textarea
                class="toastui-shadow"
                data-bound="{{ toastui_id }}"
                name="{{ (scope ~ field.name)|fieldName }}"
                {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                {% if field.placeholder %}placeholder="{{ field.placeholder|tu }}"{% endif %} {# this probably has no effect and may not have an equivalent in Toast UI?? #}
                {# ignoring field.autofocus #}
                {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
                {% if field.readonly in ['on', 'true', 1] %}readonly="readonly"{% endif %} {# see also JS setting this attribute below #}
            >{{ value }}</textarea>
        </div>
        <div id="{{ toastui_id }}"></div>
        {% script %}
        addEventListener('load', function() {

            // let's make the make the JS less interpolated (deterpolated??) ..
            const toastUiId = '{{ toastui_id }}';
            const editorDefaultOptions = {{ configs.defaults|json_encode|raw }};
            const fieldCustomOptions = {{ field.attributes.toastui|default({})|json_encode(constant('JSON_FORCE_OBJECT'))|raw }};
            const editorInitialValue = '{{ value|e('js') }}';
            const editorDefaultToolbar = {{ configs.toolbar|json_encode|raw }};

            const editorElement = document.getElementById(toastUiId);
            const boundTextarea = editorElement.parentElement.querySelector("textarea.toastui-shadow[data-bound='" + toastUiId + "']");

            const editorRuntimeOptions = {
                initialValue: editorInitialValue,
                el: editorElement,
                };
            const theseOptions = Object.assign(
                editorDefaultOptions,
                fieldCustomOptions,
                editorRuntimeOptions );
            const thisEditor = toastui.Editor.factory(theseOptions);

            {# TODO: support overrides form instance properties #}
            editorDefaultToolbar.remove.forEach( function(itemName) {
                thisEditor.removeToolbarItem(itemName);
                });

            if(typeof thisEditor !== undefined && typeof boundTextarea !== undefined) {
                boundTextarea.style.display = 'none';
                boundTextarea.setAttribute('readonly', 'readonly');

                thisEditor.on('change', function() {
                    boundTextarea.value = thisEditor.getMarkdown();
                    });
            }

            });
        {% endscript %}
    </div>

{% endblock %}
