{% extends "forms/field.html.twig" %}
{% set toastui_id = unique_id(6, {'prefix': 'tui_'}) %}
{% set configs = config.plugins['admin-addon-toast-ui-editor'] %}
{% block label %}
    {% if field.label %}
        {% set hint = field.help ? 'data-hint="' ~ field.help|tu|raw ~ '"': '' %}
        <div class="form-label form-field hint--bottom" {{ hint }}>{{ field.label|tu|raw }}</div>
    {% endif %}
{% endblock %}
{% block field %}
    <div class="form-field {{ field.classes|default('') }}">
        <div class="form-data">
            <textarea
                class="toastui-shadow"
                data-bound="{{ toastui_id }}"
                name="{{ (scope ~ field.name)|fieldName }}"
                {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                {% if field.placeholder %}placeholder="{{ field.placeholder|tu }}"{% endif %} {# this probably has no effect and may not have an equivalent in Toast UI?? #}
                {# ignoring field.autofocus #}
                {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
                {% if field.readonly in ['on', 'true', 1] %}readonly="readonly"{% endif %} {# see also JS setting this attribute below #}
            >{{ value }}</textarea>
        </div>
        <div id="{{ toastui_id }}"></div>
        {% script %}
            {{ include('partials/custom/toastui.custom.add-image.html.twig') }}
        {% endscript %}
    </div>

{% endblock %}
